@model IndexViewModel<Post>
@{
    ViewData["Title"] = "Blog posts";
}
@section css {
    <link href="@Url.Content("~/css/posts.css")" rel="stylesheet" />
}

<section class="blog-area section">
    <div class="container">

        <div class="row">
            @foreach (Post post in Model.Items)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="card h-100">
                        <div class="single-post post-style-1">

                            <div class="blog-image"><img src="~/images/default-blog-image.jpg" alt="Blog Image"></div>

                            <a class="avatar" href="#"><img src="~/images/default-user-image.png" alt="Profile Image"></a>

                            <div class="blog-info">

                                <h4 class="title">
                                    <a asp-controller="Post" asp-action="Show" asp-route-id="@post.Id">
                                        <b>
                                            @post.Title
                                        </b>
                                    </a>
                                </h4>

                                <ul class="post-footer">
                                    <li><a href="#"><i class="ion-heart"></i>@post.Likes.Count()</a></li>
                                    <li><a href="#"><i class="ion-chatbubble"></i>@post.Comments.Count()</a></li>
                                </ul>

                            </div><!-- blog-info -->
                        </div><!-- single-post -->
                    </div><!-- card -->
                </div><!-- col-lg-4 col-md-6 -->
            }
        </div><!-- row -->

        <page-link page-model="Model.PageViewModel" page-action="Show"></page-link>

    </div><!-- container -->
</section><!-- section -->